
@import "src/app/shared/styles/mixins";

:host {
@include style-for-tabs;
@include crud-list-item;

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}
mat-panel-title {
  font-size: large;
  font-weight: bold;
}

.dashboard {
  display: flex;
  h1 {
    font-size: 400%;
    letter-spacing: 1.5px;
  }
  margin-bottom: 40px;
}
.me-text {
  text-align: center;
  font-size: 120%;
  color:black;
  font-weight: bold;
  letter-spacing: 0.5px;
}
section {
  margin-bottom:40px;
}
.jumbotron {
  border-radius: 30px;
}
  .addshit {
    font-size: 40px;
  }
img {
  border-radius: 25px;
}
a {
  margin-top: 20px;
}
  .indiv {
    margin: 20px;
  }

}
